.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.title {
  margin-bottom: 20px;
  font-size: 2em;
  color: #ffffff;
}

.sortContainer {
  margin-bottom: 20px;
}

.sortLabel {
  font-size: 1em;
  margin-right: 10px;
  color: #555;
}

.sortSelect {
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid #222222;
  border-radius: 4px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

label {
  font-size: 1em;
  margin-bottom: 8px;
  color: #bfa75d;
  display: inline-block;
  font-weight: 600;
}

.filterLabel {
  margin-right: 10px;
}

.select {
  margin: 1rem;
}
